@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
* body .container .header {
  background-color: #080E2F;
  color: #FFFFFF;
  padding: 1vw;
}
* body .container .header .grid-container {
  display: grid;
  height: 100vh;
}
* body .container .header .grid-container .logo {
  grid-column: 1;
  grid-row: 1/span 2;
}
* body .container .header .grid-container .logo img {
  width: 18vw;
  height: 25vh;
  padding: 0 0 0 10vh;
}
* body .container .header .grid-container .logo .header {
  text-align: center;
  padding: 0 0 0 2vh;
  margin: 10vh 0 0 3vw;
  color: white;
  grid-column: 1;
  grid-row: 3;
  width: 40vw;
}
* body .container .header .grid-container .logo .header #header {
  font-size: 2.8vw;
  font-weight: bold;
}
* body .container .header .grid-container .logo .header #para {
  font-size: large;
  margin-right: 1vw;
}
* body .container .header .grid-container .navbar {
  grid-column: 2;
  height: 6vh;
}
* body .container .header .grid-container .navbar ul {
  text-align: center;
}
* body .container .header .grid-container .navbar ul a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}
* body .container .header .grid-container .navbar ul li {
  display: inline;
  padding: 1.5vw;
  list-style: none;
  color: white;
  font-weight: 600;
  font-size: 1.5vw;
}
* body .container .header .grid-container .navbar ul #selected {
  background-color: white;
  color: #080E2F;
  border-radius: 5px;
  padding: 0.4vw;
}
* body .container .header .grid-container .socials {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  margin-left: 0.7vw;
}
* body .container .header .grid-container .socials a {
  cursor: pointer;
}
* body .container .header .grid-container .socials #github {
  margin: 0 2vw 0 0;
}
* body .container .header .grid-container .socials #github img {
  width: 3.5vw;
  height: 7vh;
}
* body .container .header .grid-container .socials #linkedin {
  margin: 0 2vw 0 0;
}
* body .container .header .grid-container .socials #linkedin img {
  width: 4.5vw;
  height: 8.5vh;
}
* body .container .header .grid-container .socials #twitter {
  margin: 0 1.5vw 0 -0.4vw;
}
* body .container .header .grid-container .socials #twitter img {
  width: 4.5vw;
  height: 8.5vh;
}
* body .container .header .grid-container .socials #instagram {
  margin: 0 1.5vw 0 -0.01vw;
}
* body .container .header .grid-container .socials #instagram img {
  width: 5vw;
  height: 10vh;
}
* body .container .header .grid-container .socials #facebook {
  margin: 0 0 0 0;
}
* body .container .header .grid-container .socials #facebook img {
  width: 3.5vw;
  height: 6.5vh;
}
* body .container .header .grid-container .photo {
  grid-column: 2;
  grid-row: 2/span 3;
}
* body .container .header .grid-container .photo img {
  height: 70vh;
  width: 35vw;
  border-radius: 50%;
  margin-left: 7.8vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
* body .container .skills {
  background-color: #FFFFFF;
  color: black;
  padding-bottom: 10vw;
}
* body .container .skills h1 {
  text-align: right;
  padding-right: 5vw;
  font-size: 5vw;
}
* body .container .skills .skillcontainer {
  display: flex;
  justify-content: space-between;
  padding: 2vw 7vw;
}
* body .container .skills .skillcontainer .skillslist {
  margin-top: 1.6vw;
}
* body .container .skills .skillcontainer .skillslist h2 {
  font-size: 2vw;
  margin-left: 3.2vw;
}
* body .container .skills .skillcontainer .skillslist ul li {
  text-align: left;
  list-style: none;
  padding: 1vw;
  font-size: 1.5vw;
}
* body .container .skills .skillcontainer .vl {
  border: 1px solid black;
  height: 500px;
}
* body .container .skills .skillcontainer .skillicons {
  margin-top: 2vw;
  margin-right: 1vw;
  width: 40%;
}
* body .container .skills .skillcontainer .skillicons .front p {
  font-size: 1.5vw;
}
* body .container .skills .skillcontainer .skillicons .front .icons #html {
  width: 4vw;
}
* body .container .skills .skillcontainer .skillicons .front .icons #css {
  width: 4.04vw;
}
* body .container .skills .skillcontainer .skillicons .front .icons #js {
  width: 3.9vw;
  height: 3.7vw;
  padding: 0 0 0 0.3vw;
}
* body .container .skills .skillcontainer .skillicons .front .icons #reactjs {
  width: 4vw;
  padding: 0 0 0 0.3vw;
}
* body .container .skills .skillcontainer .skillicons .front .icons #sass {
  width: 4vw;
  padding: 0 0 0 0.3vw;
}
* body .container .skills .skillcontainer .skillicons .back p {
  font-size: 1.5vw;
}
* body .container .skills .skillcontainer .skillicons .back .icons #python {
  width: 4.3vw;
}
* body .container .skills .skillcontainer .skillicons .back .icons #django {
  width: 3.3vw;
  padding: 0 0.1vw 0.4vw 0.1vw;
}
* body .container .skills .skillcontainer .skillicons .back .icons #nodejs {
  width: 4.4vw;
}
* body .container .skills .skillcontainer .skillicons .back .icons #mongodb {
  width: 4vw;
  margin-left: -1vw;
}
* body .container .skills .skillcontainer .skillicons .back .icons #postgresql {
  width: 4vw;
  padding: 0 0 0 0;
}
* body .container .skills .skillcontainer .skillicons .back .icons #firebase {
  width: 4.5vw;
  padding-left: 0.5vw;
}
* body .container .about {
  background-color: #0E4946;
  color: #FFFFFF;
  height: 50vw;
}
* body .container .about h1 {
  font-size: 5vw;
  margin: 0 0 0 3vw;
  padding: 2vw 0 2.2vw 0;
}
* body .container .about .infoblock {
  display: flex;
  justify-content: center;
}
* body .container .about .infoblock .info {
  text-align: left;
  padding-bottom: 15vw;
  padding-left: 7vw;
  width: 40%;
  font-size: 1.1vw;
  line-height: 2.5;
}
* body .container .portfolio {
  background-color: #080E2F;
  color: #FFFFFF;
  height: 55vw;
}
* body .container .portfolio h1 {
  font-size: 5vw;
  text-align: right;
  margin: 0 2vw 0 0;
  padding: 2vw 0 0 0;
}
* body .container .portfolio .portcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}
* body .container .portfolio .portcontainer .appsheader {
  font-size: 3vh;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  text-align: center;
  width: 23%;
  margin-right: 3vw;
}
* body .container .portfolio .portcontainer .appcontainer {
  width: 80%;
}
* body .container .portfolio .portcontainer .appcontainer .apps {
  display: flex;
  justify-content: center;
  padding: 5vw 0 10vw 0;
}
* body .container .portfolio .portcontainer .appcontainer .apps #app1 {
  width: 60vw;
  height: 20vw;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  margin: 0 6vw 0 0;
  padding: 2vw 0 0 0;
}
* body .container .portfolio .portcontainer .appcontainer .apps #app1 img {
  width: 10vw;
  height: 10vw;
}
* body .container .portfolio .portcontainer .appcontainer .apps #app1 a {
  font-size: 1.5vw;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* body .container .portfolio .portcontainer .appcontainer .apps #app2 {
  width: 70vw;
  height: 20vw;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  margin: 0 6vw 0 0;
  padding: 4vw 0 0 0;
}
* body .container .portfolio .portcontainer .appcontainer .apps #app2 img {
  width: 9vw;
  height: 7vw;
}
* body .container .portfolio .portcontainer .appcontainer .apps #app2 a {
  font-size: 1.5vw;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* body .container .portfolio .portcontainer .appcontainer .apps #app2 a p {
  padding-top: 1vw;
}
* body .container .portfolio .portcontainer .appcontainer .apps #app3 {
  width: 70vw;
  height: 20vw;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  margin: 0 0 0 0;
  padding: 3.3vw 0 0 0;
}
* body .container .portfolio .portcontainer .appcontainer .apps #app3 img {
  width: 9vw;
  height: 16vh;
}
* body .container .portfolio .portcontainer .appcontainer .apps #app3 a {
  font-size: 1.5vw;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
}
* body .container .blog {
  background-color: #FFFFFF;
  color: black;
  padding: 0 1vw 0 1vw;
}
* body .container .blog h1 {
  font-size: 5vw;
  text-align: left;
}
* body .container .blog .blogs {
  display: flex;
  padding: 0 0 5vw 0;
}
* body .container .blog .blogs .blogline {
  padding-top: 2vw;
  padding-left: 5vw;
  padding-bottom: 3vw;
}
* body .container .blog .blogs .blogline a {
  text-decoration: none;
  color: black;
}
* body .container .blog .blogs .blogline a p {
  opacity: 0.5;
}
* body .container .experience {
  background-color: #0E4946;
  color: #FFFFFF;
  height: 60vw;
}
* body .container .experience h1 {
  font-size: 5vw;
  margin: 0 0 0 3vw;
  padding: 2vw 3vw 0 0;
  text-align: right;
}
* body .container .experience .expcontainer {
  display: flex;
  flex-direction: row;
  margin-right: 60vw;
}
* body .container .experience .expcontainer .places {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0vh 0vw 0 20vw;
  width: 15%;
}
* body .container .experience .expcontainer .places .courdevs {
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}
* body .container .experience .expcontainer .places .courdevs img {
  width: 6vw;
  height: 6vw;
}
* body .container .experience .expcontainer .places .courdevs p {
  margin-top: -0.9vw;
  font-size: 1vw;
}
* body .container .experience .expcontainer .places .r1rcm {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6vh;
}
* body .container .experience .expcontainer .places .r1rcm img {
  width: 6vw;
  height: 4vw;
}
* body .container .experience .expcontainer .places .r1rcm p {
  margin-top: -0.9vw;
  font-size: 1vw;
}
* body .container .experience .expcontainer .places .slea {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
* body .container .experience .expcontainer .places .slea img {
  width: 6vw;
  height: 6vw;
}
* body .container .experience .expcontainer .places .slea p {
  margin-top: -0.9vw;
  font-size: 1vw;
}
* body .container .experience .expcontainer .descriptions {
  margin-top: -4vh;
  color: #FFFFFF;
}
* body .container .experience .expcontainer .descriptions .descriptionlist {
  width: 100vw;
  margin-left: -3vw;
}
* body .container .experience .expcontainer .descriptions .descriptionlist ul {
  list-style: none;
  margin-top: -0.8vw;
  font-size: 1vw;
}
* body .container .experience .expcontainer .descriptions .descriptionlist ul li {
  padding: 0.2vw;
}
* body .container .experience .expcontainer .descriptions .courdevelops {
  margin-top: 5vh;
}
* body .container .experience .expcontainer .descriptions .r1description {
  margin-top: 10vh;
}
* body .container .experience .expcontainer .descriptions .sleadescription {
  margin-top: 10vh;
}
* body .container .experience .expcontainer .vl2 {
  border-left: 2px solid #FFFFFF;
  height: 600px;
  margin: 0 5vw 0 5vw;
}
* body .container .contact {
  background-color: #080E2F;
  color: #FFFFFF;
  height: 50vw;
  padding: 1vh 0 0 1vw;
}
* body .container .contact h1 {
  font-size: 5vw;
  padding: 0 0 0 9vw;
}
* body .container .contact .contactcontainer {
  padding: 2vh 0 0 20vh;
  display: flex;
}
* body .container .contact .contactcontainer .nameemaildiv .name p {
  font-size: 2vw;
}
* body .container .contact .contactcontainer .nameemaildiv .name input {
  width: 30vw;
  height: 6vh;
  border: none;
  border-radius: 5px;
}
* body .container .contact .contactcontainer .nameemaildiv .email p {
  font-size: 2vw;
}
* body .container .contact .contactcontainer .nameemaildiv .email input {
  width: 30vw;
  height: 6vh;
  border: none;
  border-radius: 5px;
}
* body .container .contact .contactcontainer .nameemaildiv .socials {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 5vh 0 0 0;
}
* body .container .contact .contactcontainer .nameemaildiv .socials #github {
  margin: 0 2.5vw 0 0;
}
* body .container .contact .contactcontainer .nameemaildiv .socials #github img {
  width: 3.5vw;
  height: 7vh;
}
* body .container .contact .contactcontainer .nameemaildiv .socials #linkedin {
  margin: 0 2.5vw 0 0;
}
* body .container .contact .contactcontainer .nameemaildiv .socials #linkedin img {
  width: 4.5vw;
  height: 8.5vh;
}
* body .container .contact .contactcontainer .nameemaildiv .socials #twitter {
  margin: 0 2vw 0 -0.4vw;
}
* body .container .contact .contactcontainer .nameemaildiv .socials #twitter img {
  width: 4.5vw;
  height: 8.5vh;
}
* body .container .contact .contactcontainer .nameemaildiv .socials #instagram {
  margin: 0 2vw 0 -0.01vw;
}
* body .container .contact .contactcontainer .nameemaildiv .socials #instagram img {
  width: 5vw;
  height: 10vh;
}
* body .container .contact .contactcontainer .nameemaildiv .socials #facebook {
  margin: 0 0 0 0;
}
* body .container .contact .contactcontainer .nameemaildiv .socials #facebook img {
  width: 3.5vw;
  height: 6.5vh;
}
* body .container .contact .contactcontainer .messageandsubmitdiv {
  padding: 0 0 0 12vw;
}
* body .container .contact .contactcontainer .messageandsubmitdiv .message p {
  font-size: 2vw;
}
* body .container .contact .contactcontainer .messageandsubmitdiv .message input {
  width: 30vw;
  height: 26vh;
  border: none;
  border-radius: 5px;
}
* body .container .contact .contactcontainer .messageandsubmitdiv .submit {
  width: 100%;
}
* body .container .contact .contactcontainer .messageandsubmitdiv .submit button {
  cursor: pointer;
  width: 100%;
  margin-top: 2vh;
  height: 5vh;
  background-color: #080E2F;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 1.5vw;
}/*# sourceMappingURL=style.css.map */